.login-form-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .button-flex-container {
    width: 100%;
    justify-content: flex-end;
  }


  .container {
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }